*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Charlie Text",sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}
.wrapper{
    background:linear-gradient(135deg, #0079bf, #5067c5);
    background-size: cover;
    height: 100vh;
}

.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,0.2);
    
}

.logo{
    width: 100px;
    height: auto;
    cursor: pointer;
    opacity: 0.7;
    margin: auto 80px;
    
}
.navbar ul{
    float:right;
    margin: auto 80px;
    transition: 0.2s;
    

}
.navbar ul li{
    list-style:none;
    margin: 0 8px;
    line-height: 80px;
    
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    outline: none;
    cursor: pointer;
    
    border: 1px solid #fff;
    color: #fbfcfd;
    padding: 10px 25px;
    font-size: 1rem;

}

.navbar ul:hover{
    transform:scale(1.1);
}


#col {
    column-count: 2;
}

.left{
    text-align: left;
    height: 100%;
    position: relative;
    margin: 10% 30%;
}
.right{

    position: relative;
    
}

button {
    color: #fff;
    background-color: #61BD4F;
    border-color: #61BD4F;
    font-size: 1.5625rem;
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out;
    width: 376px;
    padding: 4px;
    padding-left: 4px;
    padding-left: 16px;
    z-index: 2;
    margin: 3% 15%;
}

button:hover{
    background-color: #539e44;
}
img{
    vertical-align: middle;
    border-style: none;
    margin-top: 15%;
}
.image {
    max-width: 100%;
    height: auto;
    
}
h2{
    
    margin-bottom: 1rem;
    font-size: 1.5625rem;
    font-weight: 300;
    width: 500px;
    color: #fff;
    margin-top: 30px;


}
h1{
    
    font-family: "Charlie Display",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #fff !important;
    text-emphasis: center;
    font-size: 3rem ;
    
    width: 500px;

}

.wrapper .footer{
    position: absolute;
    bottom:0;
    background:white;
    height: 80px;
}